<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tijou.css">
    <title>Tijou</title>
</head>

<body>
    <p id="infos"></p>
    <div id="board"></div>
    <div id="pawns"></div>
    <div id="actions"  style="visibility: hidden;">
        <button onclick="player.play('move')">Move</button>
        <button onclick="player.play('enter')">Enter</button>
        <button onclick="player.play('backward')">Backward</button>
        <button onclick="player.play('exchange')">exchange</button>
        <button onclick="player.play('arrive')">arrive</button>
    </div>
    <div id="choices" style="visibility: hidden;">
        <button onclick="player.play(1)">A</button>
        <button onclick="player.play(2)">2</button>
        <button onclick="player.play(3)">3</button>
        <button onclick="player.play(4)">4</button>
        <button onclick="player.play(5)">5</button>
        <button onclick="player.play(6)">6</button>
        <button onclick="player.play(7)">7</button>
        <button onclick="player.play(8)">8</button>
        <button onclick="player.play(9)">9</button>
        <button onclick="player.play(10)">10</button>
        <button onclick="player.play(11)">J</button>
        <button onclick="player.play(12)">Q</button>
        <button onclick="player.play(13)">K</button></div>
    <div id="hand"></div>
    <div id="options"></div>
    <button id="start" onclick="start()">start</button>
    <script src="./js/utils.js"></script>
    <script src="./js/tijou.js"></script>
</body>

</html>