<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tijou.css">
    <title>Tijou</title>
</head>

<body>
    <p id="infos"></p>
    <div id="board"></div>
    <div id="actions">
        <button onclick="changeAction('move')">Move</button>
        <button onclick="changeAction('enter')">Enter</button>
        <button onclick="changeAction('backward')">Backward</button>
        <button onclick="changeAction('exchange')">exchange</button>
        <button onclick="changeAction('arrive')">arrive</button>
    </div>
    <div id="hand"></div>
    <div id="options"></div>
    <button id="start" onclick="start()">start</button>
    <script src="./js/utils.js"></script>
    <script src="./js/tijou.js"></script>
</body>

</html>